/* setting */
html, body{
  width: 100%;
  height: 100%;
}
body{
  margin: 0;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #555;
  /* background-color: #f5f5f5; */
  background: #fff;
  /* background: #f4f4f4; */
}
h1,h2,h3,h4,h5{
  margin: 0;
}
a{
  text-decoration: none;
}
a:hover{
 text-decoration: none;
 color: black;
}
ul{
  margin:0;
  padding:0;
  list-style: none;
}
.clear{
  clear: both;
}

/*  */



/* header */
.navbar {
  height: 70px;
  background-image: url(img/nav-back.png)
}

.navbar-brand img {
  width: 200px;
  /* height: 80px; */
}
.navbar-brand {
  letter-spacing: 3px;
  color: black;
  font-family: 'Raleway', sans-serif;
}

.fa-twitter {
  color: #00aced;
}
.fa-facebook {
  color: #305097;
}
.fa-github {
  color: black;
}
.fa-twitter:hover {
  color: grey;
}
.fa-facebook:hover {
  color: grey;
}
.fa-github:hover {
  color: grey;
}

.header {
  background-image: url(img/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}
.header-text {
  color: white;
  padding: 250px 0px;
}
.header-text-title {
  padding-bottom: 20px;
}
/*  */









.main-title {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 100px 0px 20px 0px;
  border-bottom: 2px solid #5DA797;
}
.main-title h1 {
  font-size: 30px;
}



ul.list {
	padding:0.5em;
	list-style-type:none;
}
ul.list li {
	position:relative;
	padding: 0em 0.3em 0.3em 1.3em;
}
ul.list li::before {
	position: absolute;
	content: '';
	display: block;
	top: 0.5em;
	left: 0;
	width: 6px;
	height: 6px;
	border-right: 3px solid #00BCD4;
	border-bottom: 3px solid #00BCD4;
	transform: rotate(-45deg);
}




.bom-list {
  height: auto;
  width: 90%;
  margin: 0 auto;
}





.overview {
  padding: 60px 30px 0px 30px;
}


.overview-text {
  font-size: 1.2em;
  line-height: 2em;
}

h2 {
  font-size: 20px;
  color: black;
  display: block;
  /* width: 30%; */
  padding-bottom: 15px;
  font-weight: bold;
  /* padding-left: 5px;
  border-bottom: 1px solid #5DA797; */
}

.bom h2 {
  display: block;
  margin-left: 30px;
  padding: 60px 0px 10px 0px;
}

.bom-img {
  padding: 30px 10px;
}








  .card-deck-title {
    padding: 100px 35px 20px 35px;
  }


/* main */
.main {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}
.main-back {
  background-color: #f9f9f9;
}
/*  */


/* works */
.work-section {
  background-color:white;
}

.section-title {
  letter-spacing: 15px;
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Raleway', sans-serif;
  margin: 70px 0px 50px 0px;
  
}

.section-title h1 {
  padding-bottom: 15px;
}

.card {
  border: none;
}
.card-body {
  padding-left: 3px;
  padding-right: 0px;
}
.card-deck {
  padding: 40px 30px;
}



.card-text {
  color: grey;
  line-height: 27px;
  font-size: 18px;
}
.card-title {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  padding: 10px 0px;
}

.step-number {
  padding: 0px 0px 10px 10px;
}
/*  */



/* about */
.contents p, .contents h1 {
  line-height: 30px;
  color: white;
}
.contents h1 {
  padding-top: 180px;
}
.contents p {
  padding-bottom: 150px;
}
.about {
  background-image: url(img/about-background.png);
  background-size: cover;
  background-position: center;
}
/*  */


/* fotter */
.footer{
  background-color: grey;
  position: relative;
  text-align: center;
  margin-top: 150px;
}
.footer .top-scroll{
  position: absolute;
  width: 100%;
  margin-top: -41px;
}
.footer .top-scroll-image{
  background-color: white;
  background-image: url(img/footer-link.png);
  background-repeat: no-repeat;
  display: block;
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: left;
  border-radius: 100px;
  /* border: 6px solid #f5f5f5; */
  margin: 0 auto;
}

.footer .footer-content{
  padding: 60px 0px;
}
.footer .footer-content .footer-item{
  font-size: 12px;
  display: inline-block;
  padding: 10px;
}
.footer-item a {
  color: white;
}
.footer-item a:hover {
  color: black;
}
/*  */





.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #5DA797;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #454545;
  border-radius: 3px;
  border-radius: 10px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

